.landing {
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.landingTitle {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 2em;
}

.landing p {
  text-align: left;
}

@media only screen and (min-device-width : 768px){
  .landing {
    margin-top: 15%;
  }
}

@media only screen and (min-device-width : 1024px){
  .landing {
    margin-top: 5%;
  }
}

