.homePage{
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border-top: 10px outset white;
  border-left: 10px outset white;
  background-color: #ccc;
  text-align: left;
}

.homePage h2 {
  text-align: left;
  margin: 0;
  padding: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 2px dashed white;
}

.homePage h3{
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid white;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .homePage{
    text-align: center;
  }
  
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .homePage{
    text-align: center;
    width: 40%;
    height: 50%;
    border-top: 30px outset white;
    border-left: 30px outset white;
  }
  
  .homePage h2{
    padding: 1em;
    margin-left: 1em;
  }
}