.hamburger-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin-right: 10%;
  z-index: 10;
}

.hamburger-menu i {
  color: white;
  font-size: 1.25em;
}

.navBar i:hover{
  color:  white;
}

.navLinks {
  list-style: none;
  padding: 0;
  background-color: white;
  text-align: right;
  width: 150px;
  z-index: 10;
  color: #222;
  box-shadow: 3px 3px 3px #777;
}

.navBar li {
  padding: 0.5em;
  padding-right: 0.8em;
  margin-top: 0px;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
}

.one {
  background-color: #ddd;
}

.two {
  background-color: white;
}

.navBar a {
  text-decoration: none;
  color: black;
}

.navBar li:hover{
  background-color: #00866F; 
}

