.navBar {
  margin: 5px;
  height: 20%;
  display: block;
  justify-content: flex-end;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

.navBar ul {
  list-style: none;
  display: block;
  padding: 0;
  background-color: white;
  border-radius: 3px;
  width: 50%;
  margin: 0;
  text-align: right;
  float: right;
}

.navBar li {
  padding: 5px;
  margin-top: 0px;
  display: block;
  font-size: 1.25em;
  font-style: italic;
}

.one {
  background-color: #ddd;
}

.two {
  background-color: white;
}

.navBar a {
  text-decoration: none;
  color: black;
}

li:hover{
  background-color: #475080; 
}

.navBar i {
  position: relative;
  left: 10px;
  color: white;
  font-size: 1.25em;
  display: block;
  margin: 10px;
  margin-bottom: 0px;
  text-align: right;
}

.navBar i:hover{
  color:  #475080;
}