
form{
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-row{
  padding: 5px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-content: center;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
.form-row > input {
  flex: 2;
}

.form-row > textarea {
  flex: 2;
}