.sessionList{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;

}

.sessionList ul{
  list-style: none;
  padding: 0;
}

.sessionList li {
  border: 2px solid white;
  border-radius: 2px;
  margin: 5px;
}

.sessionList li:hover{
  background-color: white;
}

.sessionList select{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.sessionList a {
  text-decoration: none;
  color:  #09d3ac;
}