.addSession {
  margin-top: 20px;
}

.addSession form{
  width: 90%;
  color: #222;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}

.addSession h2{
	margin-top: 30px;
  font-size: 1.5em;
	text-align: center;
	color: white;
}

fieldset {
  border-radius: 5px;
  padding: 1.25em;
	border: 1px outset white;
  margin-top: 0.5em;
  background-color: #ccc;
}

.form-row{
  padding: 1.25em;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-content: center;
  text-align: right;
}

.form-row label {
	border: 3px inset white;
	border-radius: 5px;
	padding: 0.2em;
}

.form-row input {
	flex: 1;
}

.form-row textarea {
  flex: 1;
  height: 100px;
  width: 200px;
}

.gameTypeTwo {
	margin: em;
}

.gameTypeTwo label {
	border: none;
	color: white;
}

button {
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#131d38;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 1em;
	font-weight:bold;
  padding: 10px;
  margin: 2px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	width: 85px;
	text-align: center;
}

.addSession select {
  margin-left: auto;
  margin-right: auto;
	font-size: 1.08em;
	font-family: sans-serif;
	font-weight: 500;
	color: #444;
  line-height: 1.2;
	padding: .6em 1.4em .5em .8em;
	width: 50%;
	max-width: 50%;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.addSession form{
		font-size: 1em;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.addSession form{
		font-size: 1em;
		width: 40%;
	}

}