#login-form {
  display: flex;
  flex-direction: column;
  color: #222;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  padding: 1em;
  border: 1px outset white;
  border-radius: 5px;
  font-size: 0.8em;
  margin-top: 11%;
}

#login-form input {
  border-radius: 5px;
}

.login-details {
  text-align: center;
  font-size: 1.2em;
  margin: 1em;
  padding: 0.5em;
}

#login-button {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 3em;
  margin-bottom: 3em;
}

#login-button:hover{
  width: 31%;
  font-style: italic;
}

#login-header {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding: 0;
}

#login-form a {
  text-align: center;
}

@media only screen and (min-device-width : 768px){
  #login-form {
    width: 40%;
    margin-top: 15%;
  }
}

@media only screen and (min-device-width : 1024px){
  #login-form {
    width: 25%;
    margin-top: 7%;
  }
}