*{
  box-sizing: border-box;
}

html{
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.App-header {
  color: white;
  text-align: center;
  margin: 0;
  background-color: #475080;
  height: 90px;
  padding: 0;
  border-radius: 2px;
  width: 100%;
}

.App-header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  
}

.App-header h1 {
  margin: 0;
  padding: 8px;
  padding-top: 10px;
  font-family: sarina, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a:hover{
  color: #00866F; 
}

.App-header i{
  position: absolute;
  top: 60px;
}

@media only screen  and (min-width : 1224px) {
  .fas{
    font-size: 2em;
    margin-top: 0.4em;
  }

  .App-header{
    height: 125px;
  }

  .App-header h1{
    font-size: 3em;
  }
}