#registration-form {
  display: flex;
  flex-direction: column;
  color: #222;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  background-color: #ccc;
  padding: 1em;
  border: 1px outset white;
  border-radius: 5px;
  font-size: 0.8em;
}

#registration-form input {
  border-radius: 5px;
}

#registration-header {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding: 0; 
}

#registration-button {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#login-header {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding: 0;

}

#registration-form a {
  text-align: center;
}

@media only screen and (min-device-width : 768px){
  #registration-form {
    width: 40%;
    margin-top: 15%;
  }
}

@media only screen and (min-device-width : 1024px){
  #registration-form {
    width: 25%;
    margin-top: 6%;
  }
}